<div class="container">
  <div class="row">
    <div class="col">
      <h3 class="text-center">Detalle de apuestas y puntajes para el juego</h3>
      {{>report-table-point-by-game}}
    </div>
  </div>
</div>