<div class="row bg-dark">
  <div class="col-5 m-0 p-0">
    <form action="/auth/signin" method="POST">
      <div class="mb">
        <label for="email" class="form-label">Correo</label>
        <input type="email" class="form-control" name="email" placeholder="Tu correo">
      </div>
      <div class="mb-1">
        <label for="pass" class="form-label">Contraseña</label>
        <input type="password" class="form-control" name="password" placeholder="Contraseña">
      </div>
      <div class="row justify-content-center">
        <div class="col text-center"><button type="submit" class="btn btn-primary mb-1 container">Ingresa</button></div>
        <div class="col text-center"><a class="btn btn-primary mb-1 container" href="signup">Registro</a></div>
      </div>
    </form>
  </div>

  <div class="col-7 m-0 p-0">
    {{!-- <img src="../img/front/balon.png" alt="Caratula inicial"> --}}
    {{!-- <img src="https://images2.imgbox.com/70/bc/gZj95he7_o.png" width="140%" alt="Caratula inicial"> --}}
    <img src="https://images2.imgbox.com/25/25/vd0HSxIe_o.png" width="100%" alt="Caratula inicial">

    
  </div>
</div>


